Repository tyankatsu0105/pick-up-jira-ticket-id-action: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx sort-package-json

ci: add some workflow (#6)
  .czfe/types.json
  .czferc.js
  .czrc
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .github/workflows/action-test.yml
  .github/workflows/build-and-push.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .tool-versions
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  package-lock.json
  package.json
  src/__test__/main.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npx sort-package-json

chore: release v0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

build: build production
  dist/index.js
  dist/licenses.txt
Due: none

ci: add release flow
  .github/workflows/build-and-push.yml
  .github/workflows/release.yml
  ship.config.js
Due: prettier --write

chore: release v0.0.1 (#8)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

ci: fix condition
  .github/workflows/build-and-push.yml
Due: prettier --write

build: upgrade deps
  package-lock.json
  package.json
Due: npx sort-package-json

chore: release v0.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.0.2 (#9)
  CHANGELOG.md
  dist/index.js
  dist/licenses.txt
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: remove dist from ignore
  .gitignore
Due: none

docs: improve readme
  README.md
Due: prettier --write

chore: change text LICENSE
  LICENSE
Due: none

style: run lint
  .eslintrc.js
  .prettierrc.json
  package-lock.json
  package.json
  src/__test__/main.test.ts
  src/main.ts
  src/wait.ts
Due: eslint --fix, npx sort-package-json

false chore: improve commit message format
  .czfe/jira-ticket-keys.json
  .czferc.js
Due: none

PUJTIA-4 feat: use jira-client
  .env.sample
  .github/workflows/action-test.yml
  action.yml
  dist/index.js
  dist/licenses.txt
  package-lock.json
  package.json
  src/jira.ts
  src/main.ts
Due: eslint --fix, prettier --write, npx sort-package-json

false chore: fix czfe-config
  .czferc.js
Due: none

PUJTIA-4 feat: fix action.yml
  action.yml
Due: prettier --write

PUJTIA-4 feat: fix how to get env value
  src/main.ts
Due: eslint --fix

PUJTIA-4 fix: fix boolean at env
  src/main.ts
Due: eslint --fix

PUJTIA-4 test: fix test
  src/__test__/main.test.ts
Due: eslint --fix

PUJTIA-4 fix: fix env
  src/main.ts
Due: eslint --fix

PUJTIA-4 fix: fix env
  package.json
  src/main.ts
Due: eslint --fix, npx sort-package-json

PUJTIA-4 fix: fix env
  action.yml
  package.json
  src/main.ts
Due: eslint --fix, prettier --write, npx sort-package-json

PUJTIA-4 fix: fix ref env
  src/main.ts
Due: eslint --fix

PUJTIA-4 feat: add getSubtasks
  src/jira.ts
  src/main.ts
  src/types/jira-client.d.ts
  tsconfig.json
Due: eslint --fix

PUJTIA-8 feat: add Github class
  .github/workflows/action-test.yml
  action.yml
  package-lock.json
  package.json
  src/github.ts
  src/main.ts
Due: eslint --fix, prettier --write, npx sort-package-json

PUJTIA-8 feat: fix condition
  src/github.ts
Due: eslint --fix

false chore: debug
  src/main.ts
Due: eslint --fix

PUJTIA-8 feat: add log class
  src/libs/index.ts
  src/libs/is-production.ts
  src/libs/log.ts
  src/main.ts
Due: eslint --fix

false chore: debug
  src/github.ts
Due: eslint --fix

chore: debug
  .czferc.js
  .github/workflows/action-test.yml
  src/github.ts
  src/types/github/payload.ts
  src/types/jira-client.d.ts
Due: eslint --fix, prettier --write

PUJTIA-8 feat: add getJiraTicketId member to Jira class
  src/github.ts
  src/jira.ts
  src/main.ts
Due: eslint --fix

chore: debug
  src/main.ts
Due: eslint --fix

ci: add github action
  .github/workflows/action-test.yml
Due: prettier --write

ci: change with
  .github/workflows/action-test.yml
Due: prettier --write

ci: add header
  .github/workflows/action-test.yml
Due: prettier --write

ci: change message
  .github/workflows/action-test.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{md,yml}
  npx sort-package-json: any of: package.json
