Repository tyankatsu0105/pick-up-jira-ticket-id-action: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx sort-package-json

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.{md,yml}": [
    "prettier --write"
  ],
  "package.json": [
    "npx sort-package-json"
  ]
}

ci: remove append
  .github/workflows/action-test.yml
Due: prettier --write

chore: change message
  .github/workflows/action-test.yml
Due: prettier --write

chore: debug
  src/github.ts
  src/main.ts
  src/types/github/payload.ts
Due: eslint --fix

chore: debug
  .github/workflows/action-test.yml
Due: prettier --write

chore: debug
  src/github.ts
  src/main.ts
Due: eslint --fix

feat: debug message
  package-lock.json
  package.json
  src/github.ts
  src/jira.ts
  src/libs/index.ts
  src/libs/regexp.ts
  src/main.ts
  src/types/index.ts
Due: eslint --fix, npx sort-package-json

chore: debug
  src/main.ts
Due: eslint --fix

chore: denug
  src/github.ts
Due: eslint --fix

feat: add typings
  .gitignore
  src/github.ts
  src/typings/jira-client.d.ts
Due: eslint --fix

chore: debug
  src/github.ts
Due: eslint --fix

feat: create actions
  .github/workflows/action-test.yml
  src/main.ts
Due: eslint --fix, prettier --write

feat: split commit message
  src/github.ts
Due: eslint --fix

refactor: refactor message
  src/github.ts
  src/main.ts
Due: eslint --fix

docs: update readme
  README.md
Due: prettier --write

feat: sort
  src/github.ts
Due: eslint --fix

chore: remove unused file
  README.md
  src/__test__/main.test.ts
  src/wait.ts
Due: eslint --fix, prettier --write

ci: ignore test
  .github/workflows/test.yml
Due: prettier --write

feat: be ablt to fetch all commits
  src/github.ts
Due: eslint --fix

fix: add await
  src/github.ts
Due: eslint --fix

docs: update docs
  README.md
Due: prettier --write

PUJTIA-3 feat: create action (#15)
  .czferc.js
  .env.sample
  .github/workflows/action-test.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  action.yml
  dist/index.js
  dist/licenses.txt
  package-lock.json
  package.json
  src/__test__/main.test.ts
  src/github.ts
  src/jira.ts
  src/libs/index.ts
  src/libs/is-production.ts
  src/libs/log.ts
  src/libs/regexp.ts
  src/main.ts
  src/types/index.ts
  src/typings/jira-client.d.ts
  src/wait.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npx sort-package-json

chore: release v0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

build: build production
  dist/index.js
  dist/licenses.txt
Due: none

chore: release v0.1.0 (#17)
  CHANGELOG.md
  dist/index.js
  dist/licenses.txt
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json
